{% extends "base.html" %}
{% block content %}
 <!-- The value will be set to the current iteration variable, which is 'category', and using dot-notation,
                        we need to target the key name in our database, which is 'category_name' -->

    <h3 class="light-blue-text text-darken-4 center-align">Edit Task</h3>

    <div class="row card-panel grey lighten-5">
        <!--we need to send through that variable, or parameter, that we've called 'task_id'.
        The 'task_id' will be equal to our current 'task' being modified, and using dot-notation,
        we want to target its specific '_id' key from the document -->
        <form class="col s12" method="POST" action="{{ url_for('edit_task', task_id=task._id) }}">
            <!-- The only difference, is that since it's not an expression being displayed on screen, we
            don't wrap it in double curly-brackets.-->
            <!-- category selection-->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Choose Category</option>
                        {% for category in categories %}
                        <!--we need to conditionally check the existing category from the database.If the for-loop category's
                        name is equal to our task's category name, then we'll select that as the default.
                        The 'else' statement will be for all other options, not selected -->
                            {% if category.category_name == task.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
					<label for="category_name">Task Category</label>
				</div>
			</div>
            <!-- task name-->
            <!--Since we're updating a task, there should always be a task name with their vallues to allow edit -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="task_name" name="task_name" minlength="5" maxlength="50"
                        value="{{task.task_name}}" type="text" class="validate" required>
                    <label for="task_name">Task Name</label>
                </div>
            </div>
            <!-- Task description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="task_description" name="task_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                        {{- task.task_description -}}
                    </textarea>
                    <label for="task_description">Task Description</label>
                </div>
            </div>
            <!-- due date picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                    <input id="due_date" name="due_date" type="text"
                        value="{{task.due_date}}" class="datepicker validate" required>
                    <label for="due_date">Due Date</label>
                </div>
            </div>
            <!-- Is urgent toggle-->
			<div class="row">
				<div class="input-field col s12">
					<div class="switch">
                        <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
						<label for="is_urgent">
                            <!--Similar to the conditional check that we did on our category dropdown, we need to apply the same for our toggle.
                            we'll check to see if the task's is_urgent field is set to 'on'. Since this is just a styled checkbox, all we need to do is include the 'checked' attribute if on-->
                            {% if task.is_urgent == "on" %}
                                <input type="checkbox" id="is_urgent" name="is_urgent" checked>
                            {% else %}
                                <input type="checkbox" id="is_urgent" name="is_urgent">
                            {% endif%}
                            <span class="lever"></span>
                            Is Urgent
                        </label>
					</div>
				</div>
			</div>
            <!-- Submit button-->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button-->
                    <a href="{{url_for('get_tasks')}}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Edit Task <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}